<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Note</title>
   <link rel="stylesheet" href="/css/edit.css">
</head>
<body>

    <h1>Edit Note</h1>
    <div class="container">
        <form action="/notes/<%= note.id %>/edit" method="POST">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="<%= note.title %>" required>

            <label for="datetime">Date</label>
            <input type="datetime-local" name="datetime" id="datetime" value="<%= note.datetime %>" required>

            <label for="note">Note</label>
            <textarea name="note" id="note" required><%= note.note %></textarea>

            <button type="submit">Update Note</button>
        </form>
        <a href="/notes">Back to Notes</a>
    </div>

</body>
</html>
